@model HouseAccounting.Web.Models.IncomeCategories.IncomeCategoryDeleteViewModel

<h2>Smazání kategorie</h2>

<h3>Opravdu smazat kategorii příjmů?</h3>
<div>
    <hr />
    @Html.Partial("CategoryDetail", Model.Category)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Zpět na seznam kategorií příjmů", "Index")
            <input type="submit" value="Smazat" class="btn btn-default" />
        </div>
    }
</div>
