@model HouseAccounting.Web.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <br />
</div>
<div class="container">
    <h3>Zadat rychle výdaj</h3>
    @foreach (var personExpenditure in Model.PersonExpenditures)
    {
        @Html.ActionLink(personExpenditure.Text, "CreateForPerson", "Expenditure",
            new
            {
                personId = personExpenditure.PersonId,
                expenditureCategoryId = personExpenditure.ExpenditureCategory.Id
            },
            new { @class = "btn btn-lg btn-info .caret" });
    }
</div>
