@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <br />
</div>
<div class="jumbotron">
    <button type="button" class="btn btn-lg btn-primary">Jana - výdaj</button>
    <button type="button" class="btn btn-lg btn-primary">Zdeněk - výdaj</button>
    <button type="button" class="btn btn-lg btn-primary">Ondrášek - výdaj</button>
</div>


