@model HouseAccounting.Web.Models.Categories.CategoryDeleteViewModel

<h2>Smazání kategorie</h2>

<h3>Opravdu smazat kategorii?</h3>
<div>
    <hr />
    @Html.Partial("CategoryDetail", Model.Category)

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Smazat" class="btn btn-default" /> |
            @Html.ActionLink("Zpět na seznam kategorií", "Index")
        </div>
    }
</div>
