@model HouseAccounting.Web.Models.Categories.CategoryDetailsViewModel

<h2>Detail kategorie</h2>

<div>
    <hr />
    @Html.Partial("CategoryDetail", Model.Category)
</div>
<p>
    @Html.ActionLink("Editovat", "Edit", new { id = Model.Category.Id }) |
    @Html.ActionLink("Zpět na seznam osob", "Index")
</p>
